body {
    font-family:'Times New Roman', Times, serif;
    text-decoration-color: red;
    margin: 0;
    padding: 0;
    background-color: black;
    }
    
    
    nav {
    background-color: rgb(24, 24, 24);
    color: red;
    padding: 10px;
    text-align: center;
    }
    
    nav a {
    color: red;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    transition: color 0.3s ease;
    }
    
    nav a:hover {
    color: orange;
    background-color: white(0, 0, 0, 0.5);
    }
    
    section {
    padding: 19px;
    min-height: 33vh;
    text-align: center;
    }
    
    ul {
    list-style-type: none;
    color: black;
    text-align: center;
    }

    h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(26, 156, 14);
    text-align: center;
    }

    p {
        background-color: black;
        text-align: center;
        color: white;
    }

    div {
        background-color: black;
        text-decoration-color: red;
        text-align: center;
    }


    #buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        margin-top: 10px;

        }
    footer {
    background-color: black;
    color: rgb(26, 156, 14);
    padding: 10px;
    text-align: center;
    min-height: 10vh;
    }
    
    footer a {
    color: red;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 10px;
    border-radius: 5px;
    }
    
    footer a:hover {
    color: orange;
    background-color: white(0, 0, 0, 0.5);
    }